*.ipynb 
wandb/
wandb/* 
.DS_Store
.DS_Store/*
*.png 
natalie_runai_notes.md 
natalie_notes.md 
delete/*
delete/
failure_notes.md
__pycache__/
__pycache__/*
save_model_data/*/*.pt
save_model_data/*/*.npy
save_model_data/*/*
good_data_thre1%_best_gp_model/
good_data_thre1%_best_gp_model/* 
send_trained_models/
send_trained_models/*
save_model_data/*.zip 
plot_cmds.md 
test.py 
save_model_data/*.csv 
data_in_subdirs_temp_delete_from_git/
data_in_subdirs_temp_delete_from_git/*